

.podiumFirst {
    height: 80%;
    background-color: var(--tertiaryColor);
    font-size: 80px;
    animation: heightAnimationFirst 0.4s linear 1;
    border-radius: 5px 5px 0px 0px; 
}

.podiumSecond {
    height: 50%;
    background-color: var(--primaryColor);
    font-size: 40px;
    animation: heightAnimationSecond 0.4s linear 1;
    border-radius: 5px 5px 0px 0px;
}

.mainPodium .linkToProfil:hover  {
    background-color: var(--dark-with-opacity);
    color: var(--dark) !important;
}

.podiumThird {
    height: 30%;
    background-color: #0e8383;
    font-size: 30px;
    animation: heightAnimationThird 0.4s linear 1;
    border-radius: 5px 5px 0px 0px;
}

.imgFirst {
    animation: tilt 0.2s 0.3s 3 alternate;
}

.descriptionPodium {
    border-radius: 10px 10px 0px 10px;
}

.tablePodium {
    height: 200px;
    overflow-y: scroll;
}

.descriptionContener {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.titleDescription {
    background-color: var(--primaryColor);
    color: white;
    border-radius: 10px 10px 0px 0px;
    height: 40px;
}

.titleDescription select {
    background-color: var(--primaryColor);
    color: white;
    border: 1px solid white;
}

.statsContener {
    width: 600px;
    height: 300px;
}

.infosStats {
    font-size: 12px;
}


@keyframes heightAnimationFirst {
    0% {
        height: 0%; 
    }
    100% {
        height: 80%; 
    }
}

@keyframes heightAnimationSecond {
    0% {
        height: 0%; 
    }
    100% {
        height: 50%; 
    }
}

@keyframes heightAnimationThird {
    0% {
        height: 0%; 
    }
    100% {
        height: 30%; 
    }
}

@keyframes tilt {
    0% {
        transform: rotate(10deg) translateY(-5px);
    }
    100% {
        transform: rotate(-10deg) translateY(-5px);
    }
}