.sideMenu {
    overflow-y: scroll;
    height: 83vh;
    border-right: 1px solid var(--dark-with-opacity);
    background-color: var(--white);
    color: var(--dark);
    transition: background-color 0.6s ease;
}

.itemMenu {
    cursor: pointer;
    overflow: hidden;
}

.itemPremium {
    background-color: var(--tertiaryColor);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.itemPremium:hover .item-active, .itemPremium:hover{
    background-color: var(--primaryColor);
}

.itemPremium  .item-active, .itemPremium {
    background-color: var(--tertiaryColor);
}

.sideMenu h6:hover, .itemMenu:hover {
    border-radius: 10px;
    background-color: var(--dark-with-opacity);
}

.item-active {
    border-radius: 10px;
    background-color: var(--dark-with-opacity);
}

.sideMenu li{
    transition: max-height 0.6s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.sideMenu li.active {
    opacity: 1;
    max-height: 300px;
}

.sideMenu ul {
    padding-left: 0;
}
.sideMenu li, .listComments {
    list-style-type: none;
}

.itemQuestions {
    cursor: pointer;
    overflow: hidden;
}

.itemQuestions:hover {
    border-radius: 10px;
    background-color: var(--dark-with-opacity);
}

.itemQuestions.active i {
    color: white !important;
}

.itemQuestions.active{
    border-radius: 10px;
    color: white;
    background-color: var(--primaryColor) !important;
}