.listOfElms {
    height: 50vh;
    overflow: scroll;
    border-bottom: 1px solid var(--tertiaryColor);
}

.elmsList li:hover, .elmsList li.active, .cluesList li:hover, .cluesList li.active {
    background: var(--primaryColor-with-opacity);
    color: var(--tertiaryColor);
    font-weight: 500;
}

.elmsList li, .cluesList li{
    list-style-type: none;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.elmPreviewCard {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.233);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--white);
}

.dark .elmPreviewCard {
    background-color: var(--dark-with-opacity-xl);
}

.elmPreviewCard:hover {
    background-color: var(--primaryColor-with-opacity);
    cursor: pointer;
    color: white;
}

.elmPreviewCard:hover .commentsPreviewElm {
    color: var(--tertiaryColor);
}

.elmPreviewCard p {
    margin: 0;
    line-height: 1;
}

.lvlPreviewElm {
    font-size: 12px;
}

.timePreviewElm {
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    height:100%;
    font-size: 0.6rem;
    background-color: var(--primaryColor);
    color: white;
    font-weight: 500;
    width: auto;
}

.timePreviewClue  {
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    height:100%;
    font-size: 0.6rem;
    background-color: var(--primaryColor);
    color: white;
    font-weight: 500;
}

.titlePreviewElm {
    font-size: 1rem;
}

.listTagsElmPreview {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0;
}

.textPopularityPreviewElm {
    font-size: 0.8rem;
}



.pageItem {
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    margin: 3px 3px 0px 3px;
    border: 1px solid var(--dark);
    border-radius: 5px;
}

.dark .pageItem:hover {
    filter: brightness(1.2);
    background-color: var(--tertiaryColor);
    color: white;
}

.light .pageItem:hover {
    background-color: var(--tertiaryColor);
    color: white;
}

.pageItem.active {
    background-color: var(--primaryColor);
    border: none;
    color: white;
}

.listPages {
    list-style-type: none;
    padding-left: 0px !important;
}

.commentsPreviewElm {
    color: var(--primaryColor);
    font-weight: 600;
}

.answersPreviewElm {
    color: var(--secondaryColor);
    font-weight: 600;
}

.elmPreviewCard:hover .userPreviewElm{
    color: white !important;
}

.toggleMode .switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 34px;
  }
  
  .toggleMode .switch input {display:none;}
  
  .toggleMode .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primaryColor);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggleMode .slider:before {
    position: absolute;
    color: white;
    text-align: center;
    line-height: 23px;
    font-size: 20px;
    font-weight: 500;
    content: "?";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--tertiaryColor);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggleMode  input:checked + .slider {
    background-color: var(--primaryColor);
  }

  .toggleMode  input:checked + .slider:before {
    content: "\f0eb";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
  }
  
  .toggleMode input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .toggleMode input:checked + .slider:before {
    -webkit-transform: translateX(115px);
    -ms-transform: translateX(115px);
    transform: translateX(115px);
  }
  
  .toggleMode  .on
  {
    display: none;
  }
  
  .toggleMode .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 14px;
    font-family: Verdana, sans-serif;
  }
  
  .toggleMode input:checked+ .slider .on
  {display: block;}
  
  .toggleMode input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .toggleMode .slider.round {
    border-radius: 34px;
  }
  
  .toggleMode .slider.round:before {
    border-radius: 50%;}

@media screen and (max-width: 576px){
    .elmsList, .cluesList{
        padding-left: 1px !important;
    }
    .elmsList li, .cluesList li{
        font-size: 14px;
    }

    .numberPopularityPreviewClue, .numberPopularityPreviewElm {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .listTagsElmPreview li {
        font-size: 0.6rem;
        padding: 1px 5px 1px 5px;
        border: 2px solid var(--dark);
        border-radius: 5px;
        background-color: var(--tertiaryColor);
        color: white;
        font-weight:500;
    }

    .popularityContener {
        height: 40px !important;
    }

    .answersPreviewElm, .commentsPreviewElm {
        font-size: 0.9rem;
    }

    .checkMark {
        height: 30px;
    }

    .searchButtonHeader {
        font-weight: 500;
        padding: 3px;
        font-size: small;
        width: 40% !important;
    }

    .searchInputHeader{
        font-size: small;
        width: 100px;
        width: 50% !important;
    }

    .searchSubmitHeader {
        font-size: small;
    }

    .searchContener {
        margin-bottom: 10px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.233);
        border-radius: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width: 1400px){
    .numberPopularityPreviewClue, .numberPopularityPreviewElm {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .listTagsElmPreview li {
        font-size: 0.7rem;
        padding: 2px 10px 2px 10px;
        border: 2px solid var(--dark);
        border-radius: 5px;
        background-color: var(--tertiaryColor);
        color: white;
        font-weight:500;
    }

    .answersPreviewElm, .commentsPreviewElm {
        font-size: 0.8rem;
    }

    .checkMark {
        height: 35px;
    }

    .searchContener {
        display: none;
    }
}

@media screen and (min-width: 1401px){
    .numberPopularityPreviewClue, .numberPopularityPreviewElm {
        font-size: 1.8em;
        font-weight: 600;
    }

    .listTagsElmPreview li {
        font-size: 0.7rem;
        padding: 2px 10px 2px 10px;
        border: 2px solid var(--dark);
        border-radius: 5px;
        background-color: var(--tertiaryColor);
        color: white;
        font-weight:500;
    }
    .answersPreviewElm, .commentsPreviewElm {
        font-size: 0.9rem;
    }

    .checkMark {
        height: 40px;
    }

    .searchContener {
        display: none;
    }
}